<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @contact.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @contact.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<% unless @contact.phones.empty? %>
    <h2>Phones</h2>

    <ul>
      <% @contact.phones.each do |phone| %>
          <li>
            <%= phone.phone_type %>
            <%= phone.phone %>
          </li>
      <% end %>
    </ul>
<% end %>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
